<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-5">
                <strong>Users List</strong>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" aria-label="Update">
                    <i class="fa fa-plus-square-o fa-lg"></i>
                    <span> Add</span>
                </button>
            </div>
        </div>
    </div>
    <table class="card-body table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users; index as id">
                <th scope="row">{{u.uId}}</th>
                <td>{{ u.fullname }}</td>
                <td>{{u.mobile}}</td>
                <td>{{ u.role }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-secondary" (click)="onUpdate(u)" aria-label="Update">
                            <i class="fa fa-pencil-square-o fa-lg"></i>
                        </a>
                        <a class="btn btn-danger" (click)="onDelete(u)" aria-label="Delete">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>